<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:task="http://www.springframework.org/schema/task"  
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       					   http://www.springframework.org/schema/beans/spring-beans.xsd
       					   http://www.springframework.org/schema/context 
       					   http://www.springframework.org/schema/context/spring-context.xsd
       					   http://www.springframework.org/schema/mvc 
       					   http://www.springframework.org/schema/mvc/spring-mvc.xsd
       					   http://www.springframework.org/schema/task
       					   http://www.springframework.org/schema/task/spring-task">

    <context:component-scan base-package="com.wuxinyu">
        <!--不要将Service扫进来，否则aop无法使用-->
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service" />
    </context:component-scan>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/view/" />
        <property name="suffix" value=".jsp" />
    </bean>
	<!--要使用@Controller就要配置这个-->
    <mvc:annotation-driven/>
	<mvc:default-servlet-handler/> 
    <!-- 配置静态资源：default-servlet-handler将在SpringMVC上下文中定义DefaultServletHttpRequestHandler,
            它会对进入DispatcherServlet的请求进行筛选，如果发现是没有经过映射的请求，就将该请求交由WEB应用服务器默认的 Servlet处理。如果不是静态资源的请求，才由DispatcherServlet继续处理。 -->
    <!--
        <mvc:resources mapping="/static/**" location="/WEB-INF/static/"/>
        	这个针对html没有任何用处，只是针对jsp可以
    -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/*"/><!-- 如果不配置或/*,将拦截所有的Controller -->
			<bean class="com.wuxinyu.interceptor.SpringMVCInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
	
</beans>